//Abstracts/variables

$color-primary:#7ed56f;
$color-primary-light:#55c57a;
$color-primary-dark:#28b485;
$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
$color-grey-light-1:#f7f7f7;

$default-font-size:1.6rem;

$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;

//Abstracts/mixins

@mixin clearfix{
    &::after{
        content:"";
        display:table;
        clear:both;
    }
}

//Base/base

*,
*::after,
*::before{
  margin:0;
  padding:0;
  box-sizing:inherit;
}

html{
  font-size:62.5%;
}

.section-about{
  background:$color-grey-light-1;
  padding:25rem 0;
  margin-top:-20vh;
}

//Base/typography

body{
  box-sizing:border-box;
  font-family:lato,sans-serif;
  font-weight:400;
  /*font-size:16px;*/
  line-height:1.7;
  color:$color-grey-dark;
  padding:3rem;
}

.heading-primary{
  color:$color-white;
  text-transform:uppercase;  
  backface-visibility:hidden;
  margin-bottom:6rem;
  
  &--main{
    display:block;
    font-size:6rem;
    font-weight:400;
    letter-spacing:3.5rem;  
    animation:moveInLeft 1s ease-out;
  }

  &--sub{
    display:block;
    font-size:2rem;
    font-weight:700;
    letter-spacing:1.74rem;   
    animation:moveInRight 1s ease-out;
  }
}

.heading-secondary{
  font-size:3.5rem;
  text-transform:uppercase;
  font-weight:700;
  display:inline-block;
  background-image:linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip:text;
  color:transparent;
  letter-spacing:.2rem;
  transition:all .2s;

  &:hover {
      transform:skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow:.5rem 1rem 2rem rgba($color-black,.2);
    }
}

.heading-tertiary{
  font-size:$default-font-size;
  font-weight:700;
  text-transform:uppercase;
}

.paragraph{
  font-size:1.6rem;
  
  &:not(:last-child){
    margin-bottom:3rem;      
    }
}

//Layout/header

.header{
  height:95vh;
  background-image:linear-gradient(
    to right bottom, 
    rgba($color-primary-light,.8), 
    rgba($color-primary-dark,.8)),
    url("https://tinyurl.com/58scrsb9");
  background-size:cover;
  background-position:top;
  position:relative;
  clip-path:polygon(0 0,100% 0,100% 80%,0% 100%);
  
  &__logo-box{
    position:absolute;
    top:4rem;
    left:4rem;
  }
  
  &__logo{
    height:3.5rem;
  }
  
  &__text-box{
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
  }
}

//Base/utilities

.u-center-text{
  text-align:center;
}

.u-margin-bottom-big{
  margin-bottom:8rem;
}

.u-margin-bottom-medium{
  margin-bottom:4rem;
}

.u-margin-bottom-small{
  margin-bottom:1.5rem;
}

//Base/animations

@keyframes moveInRight{
  0%{
    opacity:0;    
    transform:translateX(10rem);
  }
  80%{
    transform:translateX(-1rem);
  }
  100%{
    opacity:1;
    transform:translateX(0%);
  }
}

@keyframes moveInLeft{
  0%{
    opacity:0;    
    transform:translateX(-10rem);
  }
  80%{
    transform:translateX(0.1rem);
  }
  100%{
    opacity:1;
    transform:translateX(0%);
  }
}

@keyframes moveInButton{
  0%{
    opacity:0;    
    transform:translateY(3rem);
  }
  80%{
    transform:translateY(1rem);
  }
  100%{
    opacity:1;
    transform:translateY(0%);
  }
}

//Layout/grid

.row{
  max-width:$grid-width;
  margin:0 auto;
  
  &:not(:last-child){
    margin-bottom:$gutter-vertical;
  }
  
  @include clearfix;
    
  [class^="col-"]{
    float:left;
    &:not(:last-child){
      margin-right:$gutter-horizontal; 
    } 
  }
  
  .col-1-of-2{
    width:calc((100% - #{$gutter-horizontal})/2);    
    }
  
  .col-1-of-3{
    width:calc((100% - 2 * #{$gutter-horizontal})/3);    
    }
  
  .col-1-of-4{
    width:calc((100% - 3 * #{$gutter-horizontal})/4);
  }  
  
  .col-2-of-3{
    width:calc(2 * ((100% - 2 * #{$gutter-horizontal})/3) + #{$gutter-horizontal});
  }
  
  .col-2-of-4{
   width:calc(2 * ((100% - 3 * #{$gutter-horizontal})/4) + #{$gutter-horizontal});
  }
  
  .col-3-of-4{
   width:calc(3 * ((100% - 3 * #{$gutter-horizontal})/4) + 2 * #{$gutter-horizontal});
  }
}

//Components/button

.btn{
  &:link,
  :visited{
    text-transform:uppercase;
    text-decoration:none;
    padding:1.5rem 4rem;
    display:inline-block;
    border-radius:10rem;
    transition:all .2s;
    position:relative;  
  }

  &:hover{
    transform:translateY(-3px);
    box-shadow:0 1rem 2rem rgba($color-black,0.2);
    
    &::after{
      transform:scaleX(1.4)  scaleY(1.6);
      opacity:0;
    }

  }

  &:active{
    transform:translateY(-1px);
    box-shadow:0 .5rem 1rem rgba($color-black,.2);
  }

  &--white{
    background:$color-white;
    color:$color-grey-dark;
    
    &:after{
      background-color:#FFF;
    }

  }

  &::after{
    content:"";
    display:inline-block;
    height:100%;
    width:100%;
    border-radius:10rem;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    transition:all .4s;
  }

  &--animated{
    animation:moveInButton .5s ease-out .75s;
    animation-fill-mode:backwards;
  }
}

.btn-text{
  &:link,
  &:visited{
    font-size:$default-font-size;
    color:$color-primary;
    display:inline-block;
    text-decoration:none;
    border-bottom:1px solid $color-primary;
    padding:3px;
    transition:all .2s;
  }
  
  &:hover{
    background:$color-primary;
    color:$color-white;
    box-shadow:0 1rem 2rem rgba($color-black,.15);
    transform:translateY(-2px);
  }
  
  &:active{
    box-shadow:0 1rem 2rem rgba($color-black,.15);
    transform:translateY(0);
  }
}

//Components/composition

.composition{
  position:relative;
  
  &__photo{
    width:55%;
    box-shadow:0 1.5rem 4rem rgba($color-black,.4);
    border-radius:2px;
    position:absolute;
    z-index:10;
    transition:all .2s;
    outline-offset:2rem;
    
    &--p1{
      left:0;
      top:-2rem;
    }
    
    &--p2{
      right:0;
      top:2rem;
    }
    
    &--p3{
      left:20%;
      top:10rem;
    }
    
    &:hover{
      outline:1.5rem solid $color-primary;
      transform:scale(1.05) translateY(-.5rem);
      box-shadow:0 2.5rem 4rem rgba($color-black,.5);
      z-index:11;
    }    
  }
  
  //composition:hover composition__photo:not(:hover);
  
  &:hover &__photo:not(:hover){
    transform:scale(.95);
  }
}


